
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Carbon-Relay-NG admin - {{.title}}</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Carbon-Relay-NG</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container" role="main">

      <div class="page-header">

        {{template "contentHTML" .}}
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <script language="JavaScript" type="text/javascript">
    <!--
    function checkform ( form )
    {
      $('#name').removeClass('has-error');
      $('#patt').removeClass('has-error');
      $('#addr').removeClass('has-error');

      var pass = true;
      if (form.key.value == "") {
        $('#name').addClass('has-error');
        form.email.focus();
        pass = false ;
      }
      var isValid;
      try { 
          new RegExp(form.patt.value);
          isValid = true;
      }
      catch(e) {
          isValid = false;
      }

      if (!isValid) {
        $('#patt').addClass('has-error');
        pass = false;
      }

      var re = /^[^:]+\:[0-9]+$/
      if (re.test(form.addr.value) == false) {
        $('#addr').addClass('has-error');
        pass = false
      }
      // ** END **
      return pass ;
    }
    //-->
    </script>


  </body>
</html>
