{{ define "contentHTML" }}

    <div class="page-header">
    <h1>Editing {{.Title}}</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Key</th>
          <th>Pattern</th>
          <th>Address</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <form class="form-add form-group has-feedback" role="form" action="/update/" method="post" onsubmit="return checkform(this);">
          <td id="name" class="form-group has-feedback">
            <input name="key_shown" class="form-control" placeholder="Key" value="{{.Key}}" disabled>
            <input name="key" type="hidden" class="form-control" placeholder="Key" value="{{.Key}}">
          </td>
          <td id="patt" class="form-group has-feedback">
            <input name="patt" class="form-control" placeholder="Pattern" value="{{.Patt}}" >
          </td>
          <td id="addr" class="form-group has-feedback">
            <input name="addr" class="form-control" placeholder="127.0.0.1:2004" value="{{.Addr}}"  required>
          </td>
          <td colspan=2><button class="btn btn-sm btn-primary btn-block" type="submit">Add route</button></td>
          </form>
        </tr>
    </tbody>
  </table>
    </form>
{{end}}
