{{ define "contentHTML" }}
<h1>Viewing All Routes</h1>
<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th>Key</th>
          <th>Pattern</th>
          <th>Address</th>
          <th>Spool</th>
          <th colspan=2 >Actions</th>
        </tr>
      </thead>
      <tbody>
{{range .routes}}
        <tr>
          <td>{{.Key}}</td>
          <td>{{.Patt}}</td>
          <td>{{.Addr}}</td>
          <td class="text-center">{{if .Spool}}<icon class="glyphicon glyphicon-hdd"/> {{end}}</td>
          <td class="text-center"><a href="/edit/{{.Key}}"><icon class="glyphicon glyphicon-edit"/></a></td>
          <td class="text-center"><a href="/delete/{{.Key}}" onclick="return confirm('Are you sure?')"><icon class="glyphicon glyphicon-remove-circle"/></a></td>
        </tr>                            
{{end}}


        <tr>
          <form class="form-add form-group has-feedback" role="form" action="/save/" method="post" onsubmit="return checkform(this);">
          <td id="name" class="form-group has-feedback">
            <input name="key" class="form-control" placeholder="Key" required autofocus>
          </td>
          <td id="patt" class="form-group has-feedback">
            <input name="patt" class="form-control" placeholder="Pattern">
          </td>
          <td id="addr" class="form-group has-feedback">
            <input name="addr" class="form-control" placeholder="127.0.0.1:2004" required>
          </td>
          <td></td>
          <td colspan=2><button class="btn btn-sm btn-primary btn-block" type="submit">Add route</button></td>
          </form>
        </tr>
    </tbody>
  </table>
</div>
     </div>
{{end}}