name: Push to GAR once

on:
  workflow_dispatch:
    inputs:
      target:
        description: "The tag to check out and push"
        required: true
        type: string
permissions:
  contents: read
  id-token: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3
        with:
          ref: ${{ inputs.target }}
          persist-credentials: false
      - uses: actions/setup-go@19bb51245e9c80abacb2e91cc42b33fa478b8639 # v4 # zizmor: ignore[cache-poisoning]
        with:
          go-version: 1.24.9
      - name: Install go-bindata
        run: go install github.com/go-bindata/go-bindata/...@latest
      - run: make LINUX_PACKAGE_GOARCH=amd64 build-linux
      - name: Read version
        id: version
        run: echo "tag=$(git describe --tags --always | sed 's/^v//')" >> $GITHUB_OUTPUT
      - name: Push image to GAR
        # Only for real releases not push to main.
        # if: github.ref_type == 'tag'
        uses: grafana/shared-workflows/actions/push-to-gar-docker@96e4673a3d86dbbd332f3251c21a4c1299baa714 # v0.6.1
        with:
          tags: |-
            "${{ steps.version.outputs.tag }}"
          context: .
          image_name: carbon-relay-ng
          environment: prod
          push: true
